<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SSDS.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SSDS.My.MySettings.SSDSConnectionString" connectionString="Data Source=nt-sqltechinfo;Initial Catalog=SSDS_Geoffrey;User Id=Glangine.Geoffrey;Password=1441039"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <SSDS.My.MySettings>
            <setting name="SMTPHost" serializeAs="String">
                <value>mail.cgmatane.qc.ca</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SMTPAccount" serializeAs="String">
                <value>noreply@cgmatane.qc.ca</value>
            </setting>
        </SSDS.My.MySettings>
    </applicationSettings>
</configuration>